* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #222;
}

.form-content {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.container {
    width: 25%;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 5px 5px 40px #666;
    background-color: #223123;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #eee;
    padding: 20px;
}

.bullets {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bullet {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #eee;
    position: relative;
    left: 50px;
    top: 20px;
}

.bullet1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #eee;
    position: relative;
    right: 50px;
    top: 20px;
}

.link {
    color: #aaa;
    text-decoration: none;
}

.link:hover {
    color: #decb78;
}

.buton {
    background-color: #decb78;
    color: #333;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

fieldset {
    padding: 20px;
}

legend {
    font-size: 30px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.inputForm {
    display: flex;
}

.icon {
    padding: 10px;
    color: #fff;
    font-size: 26px;
}

#userName {
    padding: 10px;
    width: 80%;
    margin: 10px;
    background-color: #ddd;
}

#pass {
    padding: 10px;
    width: 80%;
    margin: 10px;
    background-color: #ddd;
}